.brands-weekly-metrics {
  margin: 0 0 32px;

  .metrics-wrapper {
    display: flex;
    flex-flow: row wrap;

    .weekly-metrics  {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      .weekly-metrics {
        width: 50%;
      }
    }
  }
}
