<div class="weekly-metrics__panel">
  <h4>{{ brand.name }}</h4>
  <p>{{ metric.name }} - (<small>{{ metric.from }}</small> - <small>{{ metric.to }}</small>)</p>
  <div class="js-metrics-children"></div>
</div>
