<div class="metric-panel__body">
  <div class="metric-panel__details">
    <h4 class="metric-panel__title">{{ brandName }}</h4>
    <span>{{ from }}</span> - <span>{{ to }}</span>
  </div>
  <div class="metric-panel__value">
    {{ value }}
  </div>
</div>
