<div class="metric-panel__body">
  <h5 class="metric-panel__title">{{ brandName }}</h5>
  <span>1.10.2108r</span> - <span>1.10.2108r</span>
  <div class="metric-panel__value">
    <div class="metric-panel__value">
      50
    </div>
  </div>
</div>
