<div class="metric-row__columns">
  <div class="metric-row__column">
    <span>{{ from }}</span> - <span>{{ to }}</span>
  </div>
  <div class="metric-row__column">
    <div class="metric-row__value">
      {{ value }}
    </div>
  </div>
</div>
